#header{
margin-left: 290px;
position: absolute;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 32px;
font-weight: 700;
line-height: normal;
color: rgb(255, 255, 255);
top: 0; 
}